streamlit==1.10.0
streamlit-webrtc==0.40.0
streamlit-audiorecorder==0.0.6

speechrecognition==3.8.1
librosa==0.11.0
soundfile==0.13.1
sounddevice==0.5.1
pyaudio==0.2.11

scipy==1.15.2
nltk==3.9.1
torch==2.6.0

altair==4.0.0

transformers>=4.26.0
